@media(max-width: 992px) {
    .main__food-brands {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

@media(max-width: 580px) {
    .main__food-brands {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 24px;
    }
}

@media(max-width: 1200px) {
    .main__cards-card {
        flex-wrap: wrap;
    }


    .main__cinema-title {
        margin-top: 64px;
        margin-bottom: 24px;
    }

    .main__cinema-descr:nth-of-type(1) {
        margin-bottom: 24px;
    }

    .main__carting-title {
        margin-top: 64px;
        margin-bottom: 24px;
    }

    .main__carting-descr:nth-of-type(1) {
        margin-bottom: 24px;
    }

    .main__food-title {
        margin-top: 64px;
        margin-bottom: 24px;
    }

    .main__food-descr:nth-of-type(1) {
        margin-bottom: 10px;
    }
}

@media(max-width: 768px) {

    .main__cards-link {
        margin-right: 0;
    }
}

@media(max-width: 494px) {
    .footer__about {
        justify-content: center !important;
    }

    .footer__nav-list {
        margin-bottom: 49px;
    }

    .footer__logo-img {
        margin-top: 64px;
    }
}

@media(max-width: 1200px) {
    .main__cards-card {
        justify-content: center;
    }
}

@media(max-width: 1366px) {
    .header__navbar-logo {
        display: block;
    }

    .header__button {
        display: block;
        position: absolute;
        right: 26px;
        top: 56px;
        z-index: 1;
    }



    .header__nav-list {
        position: absolute;
        opacity: 0;
        top: 46px;
        right: 19px;
        background-color: #fff;
        width: 262px;
        z-index: 0;
        border-radius: 20px;
    }

    .header__nav-list li:nth-of-type(5) {
        padding-bottom: 64px;
        margin-bottom: 0;
    }

    .header__list-link {
        color: #000;
    }

    .header__list-link:hover {
        color: #000;
    }

    .header__list-content {
        margin-top: 7.5px;
        margin-bottom: 7.5px;

    }

    .header__content-nav {
        flex-direction: column !important;
    }

    .header__logo-img {
        margin-top: 68px;
        margin-right: 0px;
    }
}